# === ROS Workspace ===
# Ignore build artifacts
/build/
/devel/
/install/
/log/
runs/finetune_logs/*
runs/

# Ignore virtual environment
/env/
env/
.env/

# Models and data
*.pth
clothing_ai/data/images/*.png
clothing_ai/data/augmented_images/*.png
clothing_ai/data/augmented_annos/*
clothing_ai/data/val_images/*.png
clothing_ai/data/deepFashion2/*
clothing_ai/data/our_flats/*

# Colcon-specific
colcon-core.log
*.db
*.egg-info/
*.pyc
*.pyo
__pycache__/
/__pycache__/

# CMake build system files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python virtual environments
.venv/
venv/
env/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# MacOS / Windows junk
.DS_Store
Thumbs.db
